<h3>
  Log in
</h3>
<form action="<%= session_url %>" method="post">
    <label for="email">email</label>
    <input id="email" type="text" name="user[email]">
    <br>
    <br>
    <label for="password">password</label>
    <input id="password" type="password" name="user[password]">
    <br>
    <br>
    <input type="submit" value="Log in">
</form>
