<h3>Albums List</h3>

<ul>
  <% @albums.each do |album| %>
    <li>
      <a href="<%= album_url(album) %>"><%= album.title %></a>
    </li>
  <% end %>
</ul>

<a href="<%=new_album_url%>">Add New Album</a>
